// scheme: "GitHub Dark"
// author: "StylishThemes (https://github.com/StylishThemes/GitHub-Dark)"
$link: #4183c4;
$mainbg: #181818;

// Theme Colors
$color-base: $mainbg;
$color-highlight: #c0c0c0;

$color-shade-darkest: #141414;
$color-shade-dark: #202020;
$color-shade-mid: $mainbg;
$color-shade-light: $mainbg;
$color-shade-lightest: #e2e2e2;

// Font Colors
$base-font-color: #949494;

$base-link-color: $link;
$base-link-color-active: $link;
