// scheme: "Slack Night Mode Demo"
// author: "Henry Bley-Vroman (https://github.com/olets)"

// Theme Colors
$color-base: red;
$color-highlight: yellow;

$color-shade-darkest: blue;
$color-shade-dark: green;
$color-shade-mid: white;
$color-shade-light: black;
$color-shade-lightest: pink;

// Font Colors
$base-font-color: purple;

$base-link-color: grey;
$base-link-color-active: brown;
